
:root {
  /*Global variables*/
  --icon: #8491a5;
  --main: #dcdadd;
  --primary: #d4145a;
  --text: #526581;
  --welcome: #c4bea3;
  --white: #ffffff;
  --title: #5C3D2E;
  --color-paragraph: #8B7D6B;
}
/*------------------------------------*/
/* Styles for the scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #F3E5AB;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #A67C52; /* Marrón Suave */
  border-radius: 10px;
  border: 2px solid #6D4C41; 
}

::-webkit-scrollbar-thumb:hover {
  background: #8B5E3B; /* Marrón Cacao */
}
/*------------------------------------*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Work Sans", sans-serif;
}

header {
  background-color: #F5F5DC;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
}

header h1 {
  color: var(--title);
  font-family: 'Dancing Script', cursive;
}

header .search-bar {
  display: flex;
  align-items: center;
}

header input[type="search"] {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

main {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  transition: margin-left 0.4s;
}

aside {
  width: 60px;
  background-color: #f4f5f7;
  padding: 1rem 0.5rem;
  overflow: hidden;
  white-space: nowrap;
  transition: width 0.4s;
}

aside:hover {
  width: 250px;
}

aside nav ul {
  list-style: none;
  padding: 0;
}

aside nav ul li {
  margin-bottom: 1rem;
}

aside nav ul li .submenu {
  display: none;
  padding-left: 1rem;
}

aside nav ul li:hover .submenu {
  display: block;
}

aside nav ul li a {
  padding: 1rem;
  display: grid;
  align-items: center;
  grid-template-columns: 40px 1fr;
  color: var(--primary);
  fill: var(--primary);
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

aside nav ul li a:hover {
  background-color: var(--welcome);
  color: var(--white);
  fill: var(--white);
}

section {  
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #ddd;
  flex: 1 1 calc(33.333% - 1rem);
  padding-top:2.5rem;
}
/*--------------------------------------------*/
.welcome-main-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  box-sizing: border-box;
  margin: 0;
  padding: 1rem;
}

.welcome-container {
  align-items: center;
  background-color: var(--welcome); /* Fondo del contenedor principal */
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  height: 100%;
  max-height: 150px;
  padding: 1rem;
  width: 100%;
}

.welcome-text {
  width: 100%;
  max-width: 60%;
  padding: 1.5rem;
}

.welcome-image {
  width: 100%;
  max-width: 40%;
  display: flex;
  justify-content: center;
}

.welcome-image img {
  position: relative;
  bottom: 5px;
  width: 100%;
  max-width: 250px;
  height: 100%;
  max-height: 650px;
}
.welcome-container h1 {
  font-size: 24px;
  color:var(--title);
  margin-bottom: 10px;
}

.welcome-container p {
  font-size: 16px;
  color: var(--color-paragraph);
  line-height: 1.5;
  font-weight: normal;
}

/*--------------------------------------------*/
.categories-container {
  align-items: center;  
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;  
  width: 100%
}

.categories-title {
    align-items: flex-start;
    color: var(--primary);
    display: flex;
    justify-content: left;
    padding-left: 1rem;
    width: 100%;
}

.categories {
  display: grid;
  gap: 5rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  padding: 1rem 1rem;
  width: 100%;
  max-width: 1200px;
}

.categories_item1{
  background-color: #F2E3C6;
}
.categories_item2{
  background-color: #E5C2A2;
}
.categories_item3{
  background-color: #F0DFAF;
}
.categories_item4{
  background-color: #BFC8AD;
}

.categories_item1,
.categories_item2,
.categories_item3,
.categories_item4 {
  align-items: center;
  border-radius: 20px;
  box-shadow: 4px 4px 10px rgba(139, 94, 59, 0.5);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height:100%;
  margin: 10px;
  max-width: 100%;
  padding: 1rem;
  width: 100%;
}

.categories_item1_text,
.categories_item2_text,
.categories_item3_text,
.categories_item4_text {
  align-items: center;
  color: #5C3D2E;
  display: flex;
  font-size: 1.5rem;
  justify-content: center;
  max-width: 40%;
  overflow-wrap: break-word; /* Permite que las palabras largas se dividan y se envuelvan a la siguiente línea */
  padding: 1rem;
  text-align: center;
  width: 100%;
  word-break: break-word; /* Asegura que las palabras largas se rompan correctamente */
}
.categories_item1_text span,
.categories_item2_text span,
.categories_item3_text span,
.categories_item4_text span {
  color: #5C3D2E;
  display: block;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
}

.categories_item1_image,
.categories_item2_image,
.categories_item3_image,
.categories_item4_image {
  max-width: 60%;
  width: 100%;
  height: 100px;
  max-height: 100px;
 
}
.categories_item1_image img,
.categories_item2_image img,
.categories_item3_image img,
.categories_item4_image img {
    max-width: 120px;
    max-height: 120px;
    object-fit: contain;
}


/*----------------------------*/

.recipes-main-container {
  background-color: #F6D68E;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: calc(100% - 2rem); /* Ajusta el ancho para tener en cuenta los márgenes */
  margin: 1rem auto; /* Espacio superior e inferior, y centrar el contenedor */
  margin-left: 1rem; 
  margin-right: 1rem;
}

.recipes-container {
  align-items: center;
  background-color: #F6D68E;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: auto;
  padding: 1rem;
  width: 100%;
}

.recipes-title {
  color: #7D4F30;
  display: flex;
  font-size: 1rem;
  font-weight: bold;
  text-align: left;
  width: 100%;
}

.recipe-item {
  background: #fff;
  border-radius: 10px;
  bottom: 5px;  
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto auto auto;
  height: 100%;
  max-height: 200px;  
  width: 100%;
}

.recipe-image {
  grid-column: 1 / 2;
  grid-row: 1 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recipe-image img {
  max-width: 120px;
  max-height: 120px;
  object-fit: contain;
}

.recipe-title-item {
  color: #7D4F30;
  font-size: 1rem;
  font-weight: bold;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  padding: 10px;
}

.recipe-description {
  color: #555;
  font-size: 14px;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  padding: 10px;
}

.recipe-time {
  color: #888;
  font-size: 12px;
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  padding: 10px;
}

.recipe-btn {
  align-items: center;
  display: flex;
  flex-direction: row; 
  gap: 1rem; 
  grid-column: 3 / 4; /* Ubica el contenedor en la tercera columna */
  grid-row: 3 / 4; /* Ubica el contenedor en la última fila */
  padding: 10px;
  justify-content: center; 
}

.recipe-btn button {
  background: none; 
  border: none; 
  padding: 0; 
  cursor: pointer; 
}

.recipe-btn img {
  width: 24px; 
  height: 24px;
}
/*---------------------*/
footer {
  background-color: #f8f8f8;
  text-align: center;
  padding: 1rem;
  border-top: 1px solid #ddd;
}

body aside:hover ~ main {
  margin-left: 250px;
}


