:root {
    /*Global variables*/
    --icon: #8491a5;
    --main: #dcdadd;
    --primary: #d4145a;
    --text: #526581;
    --welcome: #c4bea3;
    --white: #ffffff;
    --title: #5C3D2E;
    --color-paragraph: #8B7D6B;
}

  